<div class="container" style="margin-top: 40%;">
  <p ng:hide="allRecipes">"{{params.persona_name}}" not found!</p>
  <div ng:show="allRecipes">


      <div class="custom-caption">
          {{numRecipes}} Recipes - {{persona.name}} ({{persona.level}} / {{persona.arcana}})
          <span style='color: red;' ng:show='persona.max'>Social link must be maxed!</span>
          <span style='color: slateblue;' ng:show='persona.item'>Requires an item from one of Elizabeth's
              requests!</span>
          <div class="pagination" ng:show="numRecipes > perPage">
              <span ng:click="pageNum = 0">⇤⇤</span>
              <span ng:click="pageNum = pageNum - 1">⇤</span>
              Page {{pageNum + 1}} / {{ceil(numRecipes / perPage)}}
              <span ng:click="pageNum = pageNum + 1">⇥</span>
              <span ng:click="pageNum = lastPage">⇥⇥</span>
          </div>
      </div>
      <div class="row">
          <div id="search">
              <div class="input-field col s8 text-center">
                  <label for="filter">Filter:</label>
                  <input type="text" id="filter" name="filter">
              </div>
              <div class="input-field col s4">
                  <button class="btn waves-effect waves-light right-align" ng:click="filter = ''">
                      Clear
                  </button>
              </div>
          </div>
      </div>
      <!-- Center-align the entire table -->
      <div class="center-align">
          <div class="table-responsive">
              <table class="custom-table centered">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Cost</th>
                          <th>Ingredients</th>
                      </tr>
                  </thead> <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1365412820601626" data-ad-slot="1018678058"
                  data-ad-format="auto" data-full-width-responsive="true"></ins>
                  <tbody>
                      <tr ng:repeat="recipe in recipes">
                          <td>{{recipe.num + 1}}</td>
                          <td>{{recipe.cost | number}} ¥</td>
                          <td>
                              <div ng:repeat="persona in recipe.sources">
                                  <p>
                                      <a href='#/persona/{{persona.name}}'>{{persona.name}}</a>
                                      ({{persona.level}} / {{persona.arcana}})
                                  </p>
                              </div>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>